.page {
	min-height: 100vh;
	overflow: hidden;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	height: 4em;
}

.body_container {
	background-color: rgb(254, 230, 230);
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100vh;
	height: calc(100vh - 4em);
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1000px;
}

.frame {
	max-height: 100%;
	height: 600px;
	border-radius: 50px;
	border: 1em black solid;
}

@media (max-width: 768px) {
	.body_container {
		flex-direction: column;
	}
}
