.card {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0.2fr 2fr 0.5fr;
	background-color: white;
	font-size: 18px;
	width: 450px;
	height: 120px;
	margin: 0;
}

.drag {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 1.5em;
}

.contentContainer {
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contentContainer > form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.contentContainer > form > * {
	margin: 0;
	line-height: 24px;
}

.contentContainer > form > p,
.card svg {
	cursor: pointer;
}

.contentContainer > form > input {
	border: none;
	font-size: 1.1em;
}

.contentContainer > form > p:first-child,
.contentContainer > form > input:first-child {
	font-weight: bold;
}

.presentContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
	padding: 1em 1.5em;
}
